<div class="welcome-container">
    <h1 style="color:rgb(58, 0, 139)">Welcome to my Demo-Project</h1>
    <p style="color:black">
        This project represents a simple Login Page with Angular. 
        The page consists of a form that allows users to enter their username and password. 
        Upon successful form submission,the user will be redirected to the Welcome Page. 
        The project includes form validation and a link to navigate to a Signup Page for new users.
    </p>
    <a routerLink="/login">Logout</a>
</div>