.welcome-container{
    /* border: 20px;
    color:rgb(0, 0, 0);
    font-size: 30px;
    background-color: white;
    text-align: justify;
    padding: 50px; */
    border: 20px;
    font-size: 30px;
    width: 800px;
    height:400px;
    margin: 100px auto;
    padding: 50px 80px 80px 50px;
    border: 1px double rgb(3, 3, 73);
    border-radius: 50px;
    background-color: mintcream;
}
 
h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }

a {
    color:red
}