<div class="signup-container">
    
    <h2>Signup</h2>

    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter Your Username"
          class="form-control"
          required
          [(ngModel)]="username"
          #usernameInput="ngModel"
        />
        <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error">
          Username is required.
        </div>
      </div>
  <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter Your Password"
          class="form-control"
          required
          [(ngModel)]="password"
          #passwordInput="ngModel"
        />
       
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          Password is required.
        </div>
      </div>
  <br><br>
      <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid" >Signup</button>
     <div class="login">
      <a routerLink="login" (click)="onLogin()"> Login </a>
     </div>
    </form>
  </div>

  
  

